<div class="row">
    <div class="container">
        <div class="alignCenter">
            <h1 class="text-#00838f cyan-text text-darken-3 bucketFont">EDIT {{userName}}</h1>
        </div>
            <form method='POST' action='/users/{{userId}}?_method=PUT'>
            <input type='text' name='firstName' value='{{userFirstName}}'>
            <input type='text' name='lastName' value='{{userLastName}}'>
            <input type='text' name='userName' value='{{userName}}'>
            <input type='text' name='email' value='{{email}}'>
            <input type='text' name='img' value="{{img}}">
        <div class="alignCenter">
            <input type='submit' value='Submit Changes'class="waves-effect waves-light btn #ffb300 amber darken-1 z-depth-5">
        </div>
        </form>
<br>
<div class="alignCenter">
<a href='/users/{{userId}}' class="waves-effect waves-light btn #00838f cyan darken-3 z-depth-5">Go Back</a>
</div>
</div>
</div>

