<h1>{{userName}}'s Profile

<div>First Name: {{userFirstName}}</div>
<div>Last Name: {{userLastName}}</div>
<div>Email: {{email}}</div>
<h3><a href="/users/{{userId}}/bucketLists">Bucket Lists</a></h3>
<ol>
    {{#each bucketLists}}
    <li>{{this.name}}</li>
    {{/each}}
</ol>
<br>
<a href='/users/{{userId}}/edit'>Edit</a>
<br>
<a href='/users/{{userId}}/delete'>Delete</a>
<br>
<a href='/users'>Go Back</a>