<div class="alignCenter">
<div class="row">
        <div class="container">
          <div class="card z-depth-5">
            <div class="responsive-img card-image">
              <img src="{{userImg}}">
              <span class="card-title">{{userName}}</span>
            </div>
            <div class="card-content">
                <p>FIRST NAME: {{userFirstName}}</p>
                <p>LAST NAME: {{userLastName}}</p>
                <p>EMAIL: {{email}}</p>
            </div>
            <div class="card-action">
                <a href="/users/{{userId}}/bucketLists">Go To Bucket Lists</a>
                <h5>Bucket Lists</h5>
                <ol>
                    {{#each bucketLists}}
                        <li>{{this.name}}</li>
                    {{/each}}
                </ol>
                <a href='/users/{{userId}}/edit' class="blue-text text-darken-2 userLink">Edit Profile</a>
                <a href='/users/{{userId}}/delete' class="blue-text text-darken-2 userLink">Delete Profile</a>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="alignCenter">
<a href='/users' class="waves-effect waves-light btn #00838f cyan darken-3 z-depth-5">Go Back</a>
</div>
<br>