<div class="row">
    <div class="container">
        <div class="alignCenter">
            <h1> {{bucketList.name}} </h1>
        </div>
            <div class="collection">
                {{#each bucketList.activities}}
                <a class="collection-item" href="/users/{{../userId}}/bucketLists/{{../bucketId}}/activityList/{{this.id}}">{{this.name}}</a>                {{/each}}
            </div>
    </div>
</div>
<div class="alignCenter">
    <a href="/users/{{userId}}/bucketLists/{{bucketId}}/activityList/new" class="waves-effect waves-light btn #00838f cyan darken-3">Creat New Activity</a>
</div>
<br>
<div class="alignCenter">
    <a href='/users/{{userId}}/bucketLists/{{bucketId}}' class="waves-effect waves-light btn #00838f cyan darken-3 go-back-btn">Go Back</a>
</div>