<h1> {{bucketList.name}} </h1>

<ol>
    {{#each bucketList.activities}}
        <li><a href="/users/{{../userId}}/bucketLists/{{../bucketId}}/activityList/{{this.id}}">{{this.name}}</a></li>
    {{/each}}
</ol>

<a href="/users/{{userId}}/bucketLists/{{bucketId}}/activityList/new">New</a>