<h1>{{activityListName}}</h1>

<div>Description: {{activityListDescription}}</div>
<div>Location: {{activityListLocation}}</div>
<div>Link: {{activityListLink}}</div>
<div>Duration: {{activityListDuration}}</div>
<div>Price: {{activityListPrice}}</div>