<h1>{{userName}}'s Bucket Lists</h1>
<ol>
    {{#each bucketLists}}
        <li><a href="/users/{{../userId}}/bucketLists/{{this._id}}">{{this.name}}</a></li>
    {{/each}}
</ol>

<a href="/users/{{userId}}/bucketLists/new">New Bucket List</a>
<br>
<a href="/users/{{userId}}">Go Back</a>