<div class="row">
<div class="container">
<div class="alignCenter">
    <h1 class="bucketFont">{{userName}}'s Bucket Lists</h1>
</div>

<div class="collection z-depth-5">
{{#each bucketLists}}
        <a href="/users/{{../userId}}/bucketLists/{{this._id}}" class="collection-item">{{this.name}}</a>
{{/each}}
</div>
<div class="alignCenter">
    <a href="/users/{{userId}}/bucketLists/new" class="waves-effect waves-light btn #ffb300 amber darken-1 z-depth-5">New Bucket List</a>
</div>
<br>
<div class="alignCenter">
    <a href='/users/{{userId}}' class="waves-effect waves-light btn #00838f cyan darken-3 z-depth-5">Go Back</a>
</div>
</div>
</div>