 <h1>{{bucketListName}}</h1>

 <div>Description: {{bucketListDescription}} </div> 

<h3><a href="/users/{{userId}}/bucketLists/{{bucketId}}/activityList">Activites</a></h3>
<ol>
    {{#each activities}}
        <li>{{this.name}}</li>
    {{/each}}    
</ol>
<a href="/users/{{userId}}/bucketLists/{{bucketId}}/delete">Delete</a>  
<br>
<a href="/users/{{userId}}/bucketLists/{{bucketId}}/edit">Edit</a>
<br>
<a href="/users/{{userId}}/bucketLists/">Go Back</a>
  
  
  
  
  
  
