<div class="row">
    <div class="container">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title"><h1 class="bucketFontWhite">{{bucketListName}}</h1></span>
                    <div>DESCRIPTION: {{bucketListDescription}}</div>
                        <div class="card-action">
                    <a href="/users/{{userId}}/bucketLists/{{bucketId}}/activityList">Activites</a>
                    <ul>
                    {{#each activities}}
                        <li>{{this.name}}</li>
                    {{/each}} 
                    </ul>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="alignCenter">
<a href="/users/{{userId}}/bucketLists/{{bucketId}}/delete" class="waves-effect waves-light btn #00838f cyan darken-3">Delete</a>  
</div>
<br>
<div class="alignCenter">
<a href="/users/{{userId}}/bucketLists/{{bucketId}}/edit" class="waves-effect waves-light btn #00838f cyan darken-3">Edit</a>
</div>
<br>
<div class="alignCenter">
<a href="/users/{{userId}}/bucketLists/" class="waves-effect waves-light btn #00838f cyan darken-3">Go Back</a>
</div>
  
  
  
  
  
  
